<template>
    <div v-if="comment">
        <article class="media">
            <figure class="media-left">
                <router-link
                    v-if="comment.author.avatar"
                    class="image is-48x48 is-square"
                    :to="{ name: 'user-page', params: { id: comment.author.id } }"
                >
                    <img class="is-rounded fit" :src="comment.author.avatar">
                </router-link>

                <router-link v-else :to="{ name: 'user-page', params: { id: comment.author.id } }">
                    <DefaultAvatar class="image is-48x48" :user="comment.author" />
                </router-link>
            </figure>
            <div class="media-content">
                <div class="content">
                    <p>
                        <strong>
                            {{ comment.author.firstName }} {{ comment.author.lastName }}
                        </strong>
                        <br>
                        {{ comment.body }}
                        <br>
                        <small class="has-text-grey">
                            {{ comment.created | createdDate }}
                        </small>
                    </p>
                    <nav class="level is-mobile">
                        <div class="level-left">
                            <b-tooltip label="Like" animated>
                                <a class="level-item" @click="onLikeOrDislikeComment">
                                    <span
                                        class="icon is-medium has-text-info"
                                        :class="{
                                            'has-text-danger': commentIsLikedByUser(comment.id, user.id)
                                        }"
                                    >
                                        <font-awesome-icon icon="heart" />
                                    </span>
                                </a>
                                <a class="level-item" @click="showUserLikesCommentModal">
                                    <span>{{ comment.likesCount }}</span>
                                </a>
                            </b-tooltip>
                        </div>
                    </nav>
                </div>
            </div>
            <div v-if="isCommentOwner(comment.id, user.id)" class="column is-narrow is-12-mobile">
                <div class="buttons">
                    <b-button type="is-warning" @click="onEditComment">Edit</b-button>
                    <b-button type="is-danger" @click="onDeleteComment">Delete</b-button>
                </div>
            </div>
            <b-modal :active.sync="isEditCommentModalActive" has-modal-card>
                <EditCommentForm :comment="comment" />
            </b-modal>

            <b-modal :active.sync="isUserLikesCommentModalActive" has-modal-card>
                <UserLikesCommentModal :comment="comment" />
            </b-modal>
        </article>
    </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';
import EditCommentForm from './EditCommentForm.vue';
import DefaultAvatar from '../../common/DefaultAvatar.vue';
import showStatusToast from '../../mixin/showStatusToast';
import UserLikesCommentModal from './UserLikesCommentModal.vue';

export default {
    name: 'Comment',

    components: {
        EditCommentForm,
        DefaultAvatar,
        UserLikesCommentModal
    },

    props: {
        comment: {
            type: Object,
            required: true,
        },
    },

    mixins: [showStatusToast],

    data: () => ({
        isEditCommentModalActive: false,
        isUserLikesCommentModalActive: false
    }),

    async created() {
        try {
            await this.fetchCommentById(this.$route.params.id);
        } catch (error) {
            console.error(error.message);
        }
    },

    computed: {
        ...mapGetters('auth', {
            user: 'getAuthenticatedUser'
        }),
        ...mapGetters('comment', [
            'isCommentOwner',
            'commentIsLikedByUser'
        ]),
    },

    methods: {
        ...mapActions('comment', [
            'fetchCommentById',
            'deleteComment',
            'likeOrDislikeComment'
        ]),

        onEditComment() {
            this.isEditCommentModalActive = true;
        },

        showUserLikesCommentModal() {
            this.isUserLikesCommentModalActive = true;
        },

        async onDeleteComment() {
            this.$buefy.dialog.confirm({
                title: 'Deleting comment',
                message: 'Are you sure you want to <b>delete</b> your comment? This action cannot be undone.',
                confirmText: 'Delete Comment',
                type: 'is-danger',

                onConfirm: async () => {
                    try {
                        await this.deleteComment(this.comment.id);

                        this.showSuccessMessage('Comment deleted!');

                        this.$router.push({ name: 'feed' }).catch(() => {
                        });
                    } catch {
                        this.showErrorMessage('Unable to delete comment!');
                    }
                }
            });
        },

        async onLikeOrDislikeComment() {
            try {
                await this.likeOrDislikeComment({
                    id: this.comment.id,
                    userId: this.user.id
                });
            } catch (error) {
                console.error(error.message);
            }
        }
    },
};
</script>

<style lang="scss" scoped>

nav {
    margin-left: -8px;
}

.content {
    p {
        margin-bottom: 0;
    }
}

</style>
