<template>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Favorited tweets</p>
        </header>

        <section class="modal-card-body">
            <div class="tweets-container">
                <transition-group name="slide-prev" tag="div">
                    <template v-for="tweet in tweets">
                        <template v-if="tweetIsLikedByUser(tweet.id, user.id)">
                            <TweetPreview
                                :key="tweet.id"
                                :tweet="tweet"
                                @click="onTweetClick"
                            />
                        </template>
                    </template>
                </transition-group>
            </div>
        </section>
    </div>
</template>

<script>
import { mapGetters } from 'vuex';
import TweetPreview from '../../common/TweetPreview.vue';

export default {
    name: 'FavoritedTweetsModal',

    props: {
        tweets: {
            type: Array,
            required: true
        },
    },

    components: {
        TweetPreview,
    },

    computed: {
        ...mapGetters('tweet', [
            'tweetIsLikedByUser'
        ]),

        ...mapGetters('auth', {
            user: 'getAuthenticatedUser'
        })
    },

    methods: {
        onTweetClick(tweet) {
            this.$router.push({ name: 'tweet-page', params: { id: tweet.id } }).catch(() => {});
        },
    }
};
</script>

<style scoped>

</style>
