<template>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">People who like this tweet</p>
        </header>

        <section class="modal-card-body">
            <div v-for="item in tweet.likes" :key="item.userId">
                <ul v-for="user in users" :key="user.id">
                    <li v-if="user.id === item.userId">
                        {{ user.firstName }} {{ user.lastName }}
                    </li>
                </ul>
            </div>
        </section>
    </div>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
    name: 'UserLikesTweetModal',

    props: {
        tweet: {
            type: Object,
            required: true
        }
    },

    computed: {
        ...mapGetters('auth', {
            users: 'getUsers',
        }),
    },
};
</script>

<style lang="scss" scoped>

</style>
