<template>
    <div class="feed-container">
        <div class="navigation level">
            <b-button
                class="btn-add-tweet"
                rounded
                size="is-medium"
                type="is-danger"
                icon-left="twitter"
                icon-pack="fab"
                @click="onAddTweetClick"
            >
                Tweet :)
            </b-button>
            <div class="level-right">
                <b-select
                    class="level-item"
                    placeholder="Sorting"
                    rounded
                    v-model="selected"
                >
                    <option disabled value="">Sorting</option>
                    <option value="created">by created</option>
                    <option value="popularity">by popularity</option>
                </b-select>
                <b-button class="level-item" rounded @click="showFavoritedTweetsModal">Favorited tweets</b-button>
                <b-switch
                    v-model="isSwitchedCustom"
                    true-value="Card"
                    false-value="Media"
                >
                    {{ isSwitchedCustom }}
                </b-switch>
            </div>
        </div>

        <component :is="dynamicComponent" :tweets="tweetsSorting" @infinite="infiniteHandler" />

        <b-modal :active.sync="isNewTweetModalActive" has-modal-card>
            <NewTweetForm />
        </b-modal>

        <b-modal :active.sync="isFavoritedTweetModalActive" has-modal-card>
            <FavoritedTweetsModal :tweets="tweetsCreated" />
        </b-modal>
    </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';
import TweetPreviewList from '@/components/common/TweetPreviewList.vue';
import CardTweetPreviewList from '@/components/common/CardTweetPreviewList.vue';
import { pusher } from '@/services/Pusher';
import { SET_TWEET } from '@/store/modules/tweet/mutationTypes';
import showStatusToast from '@/components/mixin/showStatusToast';
import NewTweetForm from './NewTweetForm.vue';
import FavoritedTweetsModal from '../tweet/FavoritedTweetsModal.vue';

export default {
    name: 'FeedContainer',

    mixins: [showStatusToast],

    components: {
        TweetPreviewList,
        CardTweetPreviewList,
        NewTweetForm,
        FavoritedTweetsModal
    },

    data: () => ({
        isNewTweetModalActive: false,
        page: 1,
        selected: '',
        isFavoritedTweetModalActive: false,
        isSwitchedCustom: 'Media'
    }),

    async created() {
        try {
            await this.fetchTweets({
                page: 1
            });
        } catch (error) {
            this.showErrorMessage(error.message);
        }

        const channel = pusher.subscribe('private-tweets');

        channel.bind('tweet.added', (data) => {
            this.$store.commit(`tweet/${SET_TWEET}`, data.tweet);
        });
    },

    beforeDestroy() {
        pusher.unsubscribe('private-tweets');
    },

    mounted() {
        if (localStorage.isSwitchedCustom) {
            this.isSwitchedCustom = localStorage.isSwitchedCustom;
        }
    },
    watch: {
        isSwitchedCustom(newValue) {
            localStorage.isSwitchedCustom = newValue;
        }
    },

    computed: {
        ...mapGetters('tweet', {
            tweetsCreated: 'tweetsSortedByCreatedDate',
            tweetsPopular: 'tweetsSortedByPopularity',
        }),

        ...mapGetters('auth', {
            user: 'getAuthenticatedUser'
        }),

        tweetsSorting() {
            if (this.selected === 'created') {
                return this.tweetsCreated;
            }

            if (this.selected === 'popularity') {
                return this.tweetsPopular;
            }

            return this.tweetsCreated;
        },

        dynamicComponent() {
            if (this.isSwitchedCustom === 'Card') {
                return 'CardTweetPreviewList';
            }
            return 'TweetPreviewList';
        }
    },

    methods: {
        ...mapActions('tweet', [
            'fetchTweets',
        ]),

        onAddTweetClick() {
            this.showAddTweetModal();
        },

        showAddTweetModal() {
            this.isNewTweetModalActive = true;
        },

        showFavoritedTweetsModal() {
            this.isFavoritedTweetModalActive = true;
        },

        async infiniteHandler($state) {
            try {
                const tweets = await this.fetchTweets({ page: this.page + 1 });

                if (tweets.length) {
                    this.page += 1;
                    $state.loaded();
                } else {
                    $state.complete();
                }
            } catch (error) {
                this.showErrorMessage(error.message);
                $state.complete();
            }
        },
    },
};
</script>

<style scoped lang="scss">
@import '~bulma/sass/utilities/initial-variables';

.navigation {
    padding: 10px 0;
    margin-bottom: 20px;
}

.modal-card {
    border-radius: 6px;
}

.btn-add-tweet {
    transition: 0.2s ease-out all;
    box-shadow: 1px 5px 5px 0 #00000020;

    &:hover {
        box-shadow: 1px 1px 0 0 #00000020;
    }

    @media screen and (max-width: $tablet) {
        font-size: 1rem;
    }
}
</style>
